#main-container {
  padding: 40px 16px;
}

.parent {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  width: 75%;
  margin: 10px auto;
}

.full-width {
  width: 100%;
}

::ng-deep.mat-tab-header-pagination-controls-enabled
  .mat-tab-header-pagination {
  display: none !important;
}
