<div id="main-container">
  <mat-card class="z-depth parent center">
    <mat-card-content class="full-width">
      <h1>Gringotts</h1>
      <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
        <mat-tab label="Login">
          <!-- LOGIN FORM-->
          <br />
          <form [formGroup]="loginform" (ngSubmit)="onSubmitLogin()">
            <div fxLayout="column" fxLayoutAlign="center center">
              <div fxFlex="100%">
                <mat-form-field
                  appearance="outline"
                  class="form-field full-width"
                >
                  <mat-label>User</mat-label>
                  <input matInput formControlName="user" name="user" required />
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field
                  appearance="outline"
                  class="form-field full-width"
                >
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    formControlName="password"
                    name="password"
                    [type]="hideLoginFormPassword ? 'password' : 'text'"
                    required
                  />
                  <mat-icon
                    matSuffix
                    (click)="hideLoginFormPassword = !hideLoginFormPassword"
                    >{{
                      hideLoginFormPassword ? 'visibility_off' : 'visibility'
                    }}</mat-icon
                  >
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  class="full-width"
                >
                  Login / Logout
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>
            </div>
          </form>
          <!-- /LOGIN FORM-->
        </mat-tab>
        <mat-tab label="Register">
          <!-- REGISTER FORM-->
          <br />
          <form [formGroup]="registerform" (ngSubmit)="onSubmitRegister()">
            <div fxLayout="column" fxLayoutAlign="center center">
              <div fxFlex="100%">
                <mat-form-field
                  appearance="outline"
                  class="form-field full-width"
                >
                  <mat-label>User</mat-label>
                  <input matInput formControlName="user" name="user" required />
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field
                  appearance="outline"
                  class="form-field full-width"
                >
                  <mat-label>Password</mat-label>
                  <input
                    matInput
                    formControlName="password"
                    name="password"
                    [type]="hideRegisterFormPassword ? 'password' : 'text'"
                    required
                  />
                  <mat-icon
                    matSuffix
                    (click)="
                      hideRegisterFormPassword = !hideRegisterFormPassword
                    "
                    >{{
                      hideRegisterFormPassword ? 'visibility_off' : 'visibility'
                    }}</mat-icon
                  >
                  <mat-error
                    *ngIf="registerform.get('password')?.hasError('pattern')"
                    >Invalid password</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <mat-form-field
                  appearance="outline"
                  class="form-field full-width"
                >
                  <mat-label>Confirm password</mat-label>
                  <input
                    matInput
                    formControlName="confirmPassword"
                    name="confirmPassword"
                    [type]="
                      hideRegisterFormConfirmPassword ? 'password' : 'text'
                    "
                    required
                  />
                  <mat-icon
                    matSuffix
                    (click)="
                      hideRegisterFormConfirmPassword =
                        !hideRegisterFormConfirmPassword
                    "
                    >{{
                      hideRegisterFormConfirmPassword
                        ? 'visibility_off'
                        : 'visibility'
                    }}</mat-icon
                  >
                  <mat-error *ngIf="registerform.hasError('notmatched')"
                    >Password don't match</mat-error
                  >
                </mat-form-field>
              </div>
              <div fxFlex="100%">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  class="full-width"
                >
                  Register
                  <mat-icon>chevron_right</mat-icon>
                </button>
                <mat-error *ngIf="registerFormError">{{
                  registerFormError
                }}</mat-error>
              </div>
            </div>
          </form>
          <!-- REGISTER FORM-->
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>
</div>
