<mat-list>
  <div mat-subheader>01/01/1970</div>
  <mat-card class="movement-list-item" (click)="viewMovement()">
    <mat-card-content>
      <div class="movement-details">
        <span class="movement-amount">12€</span>
        <span class="movement-info"> Gasolina</span>
      </div>
      <div class="movement-origin">
        <mat-icon class="vertical-align-middle outcome-icon"
          >trending_down</mat-icon
        >
        <span class="vertical-align-middle"> Personal / Coche / Gasolina</span>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="movement-list-item">
    <mat-card-content>
      <div class="movement-details">
        <span class="movement-amount">102€</span>
        <span class="movement-info"> Paga extra</span>
      </div>
      <div class="movement-origin">
        <mat-icon class="vertical-align-middle income-icon"
          >trending_up</mat-icon
        >
        <span class="vertical-align-middle"> Personal / Tranajo / Extras</span>
      </div>
    </mat-card-content>
  </mat-card>
</mat-list>
