<mat-list>
  <!--TODO agrupar por fechas-->
  <div mat-subheader>FILTROS!</div>
  <mat-card class="movement-list-item" *ngFor="let movement of movementList">
    <mat-card-content>
      <div class="edit-card-button">
        <button
          mat-icon-button
          color="primary"
          aria-label="Edit"
          (click)="viewMovement(movement)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div class="movement-details">
        <span
          class="movement-amount"
          [ngClass]="
            movement.groupType === groupTypeOptions.Income
              ? 'income-color'
              : 'outcome-color'
          "
          >{{ movement.amount }}€</span
        >
        <span class="movement-date"> {{ movement.date }}</span>
      </div>
      <div class="movement-origin">
        <mat-icon
          class="vertical-align-middle"
          [ngClass]="
            movement.groupType === groupTypeOptions.Income
              ? 'income-color'
              : 'outcome-color'
          "
          >{{
            movement.groupType === groupTypeOptions.Income
              ? 'trending_up'
              : 'trending_down'
          }}</mat-icon
        >
        <span class="vertical-align-middle">
          {{ movement.accountancyKey }} / {{ movement.groupKey }} /
          {{ movement.categoryKey }}</span
        >
      </div>
      <div class="movement-info">
        {{ movement.info }}
      </div>
    </mat-card-content>
  </mat-card>
  <div fxFlex="100%" align="right">
    <button mat-raised-button color="primary" (click)="addMovement()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-list>
