<mat-list>
  <mat-card
    class="accountancy-list-item"
    *ngFor="let accountancy of accountancyList"
  >
    <mat-card-content>
      <div class="edit-card-button">
        <button
          mat-icon-button
          color="primary"
          aria-label="Edit"
          (click)="editAccountancy(accountancy)"
        >
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      <div>
        <h2>{{ accountancy.name }}</h2>
      </div>
      <div>Fecha creación: {{ accountancy.createdDate }}</div>
      <div>Última edición: {{ accountancy.lastModified }}</div>
    </mat-card-content>
  </mat-card>
  <div fxFlex="100%" align="right">
    <button mat-raised-button color="primary" (click)="addAccountancy()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-list>
